<nb-card>
  <nb-card-header>Add new Laptop:</nb-card-header>
  <nb-card-body>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputBrand" class="label">Brand</label>
            <input type="text" #brand nbInput fullWidth formControlName="brand" id="brand" placeholder="Brand">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputModel" class="label">Model</label>
            <input type="text" nbInput fullWidth formControlName="model" id="model" placeholder="Model">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputSerial" class="label">Serial Number</label>
            <input type="text" nbInput fullWidth id="serial" formControlName="serial" placeholder="Serial Number">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputEmail" class="label">Email</label>
            <input type="email" nbInput fullWidth id="email" formControlName="email" placeholder="Email">
          </div>
        </div>
      </div>
      <button class="cancel" nbButton status="danger" (click)="cancel()">Cancel</button>
      <button nbButton status="success" type="submit">Submit</button>
    </form>
    
  </nb-card-body>
</nb-card>
